<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fang.speakup">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                android.permission.READ_EXTERNAL_STORAGE
            </intent-filter>
        </activity>
        <activity
            android:name=".Exercise1Activity"
            android:label="@string/title_activity_exercise1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Tab2bFragmentAct"
            android:label="@string/title_activity_tab2b_fragment"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>